.main{
    max-width: 90%;
    max-height: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-align: center;
    left:5%;
}
.list{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-align: center;
    left:20%;
}
.buttons{
    flex-direction: row;
    display: inline-flex;
    text-align: center;
    position: relative;
}
.namePlace{
    text-align: center;
}
.nameWord{
    font-family: "Comic Sans MS", serif;
    color: cadetblue;
    font-size: 300%;
}
.task{
    font-family: "Comic Sans MS", serif;
    color:cadetblue;
    font-weight: bold;
}
.delayText{
    color:cadetblue;
    font-weight: bold;
    font-family: "Comic Sans MS", serif;
}
.addBtn{

}
.clearBtn{

}
.saveFile{

}
.thisTask{
    display: inline-flex;
    max-height: 100%;
    min-height: 100%;
    width: auto;
    margin: 1% 1% 1% 1%;
    padding:2% 2% 2% 2%;
    border-radius: 15%;
    position: relative;
    justify-content: left;
    gap:1%;
}
.status-btn{

}
.delete-btn{
    background-image:url("/images/deletebutton.png");
}
.process-status-btn{

}
.done-status-btn{
    border-radius: 15%;
}

@media screen and (min-width:1024px) and (max-width: 3840px) {
    .main{

    }
    .list{
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        text-align: center;
    }
    .task{
        font-size: 150%;
        margin-right: 1%;
    }
    .delayText{
        font-size: 150%;
        margin-right: 1%;
    }
    .buttons{
        flex-direction: row;
        width: 50%;
        left: 25%;
        gap:2%
    }
    .buttonImage{
    }
    .controlBtn{
        font-family: "Comic Sans MS", serif;

    }
    .thisTask{

    }
    .btn{
    }

    .nameWord{
        font-size: 400%;
    }
}

@media screen and (max-width:960px)
{
    .main{

    }
    .list{

    }
    .task{
        font-size: 100%;
        margin-right: 1%;
    }
    .delayText{
        font-size: 100%;
        margin-right: 1%;
    }
    .buttons{
        flex-direction: column;
        width: 25%;
        left: 25%;
        gap: 5%
    }
    .btn{
    }
    .addBtn{

    }
    .clearBtn{

    }
    .saveFile{

    }
    .thisTask{
        display: inline-flex;
        max-height: 100%;
        min-height: 100%;
        width: auto;
        margin: 1% 1% 1% 1%;
        padding:2% 2% 2% 2%;
        border-radius: 15%;
        position: relative;
        justify-content: left;
        gap:1%;
    }
    .status-btn{

    }
    .delete-btn{

    }
    .nameWord{
        font-size: 300%;
    }
}
@media screen and (max-width:480px)
{
    .nameWord{
        font-size: 200%;
    }
}